.page-title,
.button-menu-mobile {
    line-height: 100% !important;
}

.topbar-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 170px;
}

table {
    min-width: 100%;
}

table.nowrap tr th,
table.nowrap tr td {
    white-space: nowrap;
    padding-right: 1.2em;
    padding-left: 1.2em;
}

.logo-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4em !important;
    font-weight: 800 !important;
}

.hidden {
    display: none;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

.btn-icon {
    padding: 4px 8px 3px 8px;
    border-radius: 100%;
}

.btn-icon i {
    font-size: 1.2em;
}

.btn-scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

body[data-leftbar-compact-mode="condensed"] {
    min-height: 100vh !important;
}
