.page-title,
.button-menu-mobile {
    line-height: 100% !important;
}

.topbar-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 170px;
}

table {
    min-width: 100%;
}

table.nowrap tr th,
table.nowrap tr td {
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 1em;
}
